body {
  font-size: 16px;
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.menuBody {
  position: fixed;
  z-index: 2;
}

.mainMenuTopBttn {
  padding: 1vh 3vw 1vh 6vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  background:
    linear-gradient(
      rgba(0, 100, 0, 0.8),
      rgba(0, 100, 0, 0.8) 85%,
      rgba(0, 0, 0, 0.8));
  width: 91vw;
  max-width: 1920px;
}

.mainMenuTopBttn img {
  height: 8vh;
  cursor: pointer;
}

.mainMenuLink {
  text-decoration: none;
  font-size: 0;
}

.mainMenuBttn {
  padding: 8px 5%;
  color: white;
  font-size: 1.2rem;
  font-family: 'Prompt', sans-serif;
  background:
    linear-gradient(
      rgba(139,0,0,1),
      rgba(139,0,0,1) 85%,
      rgba(0,0,0,1));
  cursor: pointer;
}

.mainMenuTopSquare {
  padding: 1.5vh 1vh 0 1vh;
  width: 7vh;
  height: 6.5vh;
}

.mainMenuTopSquare div {
  margin-bottom: 1vh;
  border-radius: 10px;
  background-color: #d3d3d3;
  height: 1vh;
}

.mainMenuBox {
  position: fixed;
  width: 100%;
  left: 100vw;
  animation-name: none;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.mainMenuSubBttn {
  padding: 8px 5% 8px 10%;
  color: white;
  font-size: 1.1rem;
  font-family: 'Prompt', sans-serif;
  background-color: grey;
  cursor: pointer;
}

.mainMenuSubBttn:hover {
  background-color: black;
}

.mainMenuSubBox {
  border-bottom: 1px solid black;
  display: none;
}

@keyframes scrollMenuAllRight {
  0% {
    left: 100vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes scrollMenuHalfRight {
  0% {
    left: 100vw;
  }
  100% {
    left: 50vw;
  }
}

@keyframes scrollMenuThirdRight {
  0% {
    left: 100vw;
  }
  100% {
    left: 70vw;
  }
}

@keyframes scrollMenuAllLeft {
  0% {
    left: 0vw;
  }
  100% {
    left: 100vw;
  }
}

@keyframes scrollMenuHalfLeft {
  0% {
    left: 50vw;
  }
  100% {
    left: 100vw;
  }
}

@keyframes scrollMenuThirdLeft {
  0% {
    left: 70vw;
  }
  100% {
    left: 100vw;
  }
}
