.mainTitle {
  margin-top: 12vh;
  padding-top: 21vh;
  text-align: left;
  font-size: 3rem;
  background:
    linear-gradient(to left,
      rgba(255,255,255,0),
      rgba(255,255,255,0.9) 10%,
      rgba(255,255,255,0.9));
  width: 30%;
  height: 57vh;
}

.mainTitle div {
  width: 85%;
}

.mainMenuTopBttn {
  padding: 2vh 6vw 2vh 7vw;
  width: 87vw;
}

.mainMenuTopBttn img {
  height: 8vh;
}

.mainMenuBox {
  border-left: 1px solid black;
  width: 50vw;
}

.introImage {
  background-position: center;
  animation-duration: 30s;
  animation-timing-function: ease-out;
}

@keyframes backgroundZoom1812 {
  0% {
    opacity: 1;
    background-size: 100vw auto;
  }
  14% {
    opacity: 1;
    background-size: 110vw auto;
  }
  15% {
    opacity: 0;
    background-size: 110vw auto;
  }
  98% {
    opacity: 0;
    background-size: 110vw auto;
  }
  99% {
    opacity: 0;
    background-size: 100vw auto;
  }
  100% {
    opacity: 1;
    background-size: 100vw auto;
  }
}

.intro1812 {
  animation-name: backgroundZoom1812;
}

@keyframes backgroundZoomFrontier {
  0% {
    opacity: 1;
    background-size: 100vw auto;
  }
  15% {
    background-size: 100vw auto;
  }
  29% {
    opacity: 1;
    background-size: 110vw auto;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.introFrontier {
  animation-name: backgroundZoomFrontier;
}

@keyframes backgroundZoomWW2 {
  0% {
    opacity: 1;
    background-size: 100vw auto;
  }
  30% {
    background-size: 100vw auto;
  }
  44% {
    opacity: 1;
    background-size: 110vw auto;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.introWW2 {
  animation-name: backgroundZoomWW2;
}

@keyframes backgroundZoomKorea {
  0% {
    opacity: 1;
    background-size: 100vw auto;
  }
  45% {
    background-size: 100vw auto;
  }
  59% {
    opacity: 1;
    background-size: 110vw auto;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.introKorea {
  animation-name: backgroundZoomKorea;
}

@keyframes backgroundZoomVietnam {
  0% {
    opacity: 1;
    background-size: 100vw auto;
  }
  60% {
    background-size: 100vw auto;
  }
  74% {
    opacity: 1;
    background-size: 110vw auto;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.introVietnam {
  animation-name: backgroundZoomVietnam;
}

@keyframes backgroundZoomAfghanistan {
  0% {
    opacity: 1;
  }
  75% {
    background-size: 100vw auto;
  }
  89% {
    opacity: 1;
    background-size: 110vw auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.introAfghanistan {
  animation-name: backgroundZoomAfghanistan;
}

@keyframes backgroundZoomIraq {
  0% {
    opacity: 1;
    background-size: 100vw auto;
  }
  90% {
    background-size: 100vw auto;
  }
  99% {
    opacity: 1;
    background-size: 110vw auto;
  }
  100% {
    opacity: 0;
    background-size: 110vw auto;
  }
}

.introIraq {
  animation-name: backgroundZoomIraq;
}

.bottomView {
  font-size: 1.2rem;
}

.welcomeContent {
  padding: 30px 25% 80px 25%;
}

.desktopTitle {

}

.mobileTitle {
  display: none;
}

.allCompartments {
  display: block;
}

.oneCompartment {
  display: flex;
  flex-direction: row;
}

.mobileComponent {
  flex-grow: 1;
  flex-basis: 0;
}

.desktopComponent {
  display: flex;
  align-items: stretch;
}

.sectionTitle {
  padding: 30px 3%;
  flex-basis: 0;
  flex-grow: 1;
}

.sectionContent {
  flex-basis: 0;
  flex-grow: 1;
  font-size: 2rem;
}

.footer {
  padding: 30px 0 100px 0;
  flex-direction: row;
  justify-content: space-around;
}
