.mainTitle {
  margin-top: 12vh;
  padding-top: 21vh;
  text-align: left;
  font-size: 3rem;
  background:
    linear-gradient(to left,
      rgba(255,255,255,0),
      rgba(255,255,255,0.9) 10%,
      rgba(255,255,255,0.9));
  width: 30%;
  height: 57vh;
}

.mainTitle div {
  width: 85%;
}

.mainMenuTopBttn {
  padding: 2vh 6vw 2vh 7vw;
  width: 87vw;
}

.mainMenuTopBttn img {
  height: 8vh;
}

.mainMenuBox {
  border-left: 1px solid black;
  width: 50vw;
}

/* .intro1812 {
  animation-duration: 50s;
}

.introFrontier {
  animation-duration: 50s;
}

.introWW2 {
  animation-duration: 50s;
}

.introKorea {
  animation-duration: 50s;
}

.introVietnam {
  animation-duration: 50s;
}

.introAfghanistan {
  animation-duration: 50s;
}

.introIraq {
  animation-duration: 50s;
} */

.bottomView {
  font-size: 1.2rem;
}

.welcomeContent {
  padding: 30px 25% 80px 25%;
}

.desktopTitle {

}

.mobileTitle {
  display: none;
}

.allCompartments {
  display: block;
}

.oneCompartment {
  display: flex;
  flex-direction: row;
}

.mobileComponent {
  flex-grow: 1;
  flex-basis: 0;
}

.desktopComponent {
  display: flex;
  align-items: stretch;
}

.sectionTitle {
  padding: 30px 3%;
  flex-basis: 0;
  flex-grow: 1;
}

.sectionContent {
  flex-basis: 0;
  flex-grow: 1;
  font-size: 2rem;
}

.footer {
  padding: 30px 0 100px 0;
  flex-direction: row;
  justify-content: space-around;
}
