.mainTitle {
  text-align: center;
  font-size: 5rem;
}

.mainMenuTopBttn {
  padding: 1vh 6vw 1vh 7vw;
  width: 87vw;
}

.mainMenuBox {
  width: 50vw;
}

.bottomView {
  font-size: 1.2rem;
}

.sectionTitle:first-of-type {
  /* padding-top: 50px; */
}
