body {
  font-size: 16px;
  margin: 0;
  border: 0;
  padding: 0;
  /* height: 2000px; */
}

/* a {
  text-decoration: none;
} */

.menuBody {
  position: fixed;
  z-index: 2;
}

.mainMenuTopBttn {
  padding: 10px 2% 10px 6%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  background:
    linear-gradient(
      rgba(0, 100, 0, 0.8),
      rgba(0, 100, 0, 0.8) 85%,
      rgba(0, 0, 0, 0.8));
  width: 92%;
}

.mainMenuTopBttn img {
  height: 50px;
  cursor: pointer;
}

.mainMenuLink {
  text-decoration: none;
}

.mainMenuBttn {
  padding: 8px 5%;
  color: lightgrey;
  font-size: 1.2rem;
  background:
    linear-gradient(
      rgba(139,0,0,1),
      rgba(139,0,0,1) 85%,
      rgba(0,0,0,1));
  cursor: pointer;
}

.mainMenuBox {
  position: fixed;
  width: 100%;
  left: -100vw;
  animation-name: none;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.mainMenuSubBttn {
  padding: 4px 5% 4px 10%;
  color: white;
  font-size: 1.1rem;
  background-color: grey;
  cursor: pointer;
}

.mainMenuSubBttn:hover {
  background-color: black;
}

.mainMenuSubBox {
  border-bottom: 1px solid black;
  display: none;
}

@keyframes scrollMenuRight {
  0% {
    left: -100vw;
  }
  100% {
    left: 0vw;
  }
}

@keyframes scrollMenuLeft {
  0% {
    left: 0vw;
  }
  100% {
    left: -100vw;
  }
}

.introBody {
   background-image: url('../../../images/welcome/1st_Battalion_5th_Infantry_Regiment_1st_Stryker_Brigade_Combat_Team_25th_Infantry_Division_Afghan-min.jpg');
   background-size:cover;
   background-position:right;
   position: absolute;
   top: 0;
   left: 0;
   height:100vh;
   width: 100vw;
   z-index: 1;
}

.mainTitle {
  margin-top: 30vh;
  padding: 5vh 0;
  font-size: 3rem;
  text-align: center;
  background:
    linear-gradient(
      rgba(255,255,255,0),
      rgba(255,255,255,0.9) 10%,
      rgba(255,255,255,0.9) 90%,
      rgba(255,255,255,0));
}

.mainTitle div {
  padding-top: 1vh;
  padding-left: 5%;
  padding-bottom: 1vh;
  text-align: left;
  font-family: 'Arvo', serif;
}

.mainTitle div:nth-child(2) {
  border-top: 10px solid darkgreen;
  border-bottom: 10px solid darkred;
}

.bottomView {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 95vh;
  color: white;
  text-align: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  height: 5vh;
  width: 100vw;
  cursor: pointer;
}

.lowerBody {
  margin-top: 100vh;
  position: absolute;
  z-index: 0;
  height: 1000px;
}
