.mainTitle {
  margin: 0 0 20vh 0;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
}

.regIntro {
  padding: 5vh 0;
  height: 80vh;
  background:
    url('/images/registration/COA_right_half.png'),
    linear-gradient(
      rgba(255,255,255,0.5),
      rgba(255,255,255,0.5)),
    url('/images/registration/collage.png');
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: auto 100%, cover, auto;
  background-position: left, center, left;
}

.regBttn {
  font-size: 2.5rem;
}
