p {
  margin: 0;
}

.mainBody {
  padding-top: 10vh;
  background:
    repeating-linear-gradient(
      -45deg,
      black,
      grey 100px,
      black 130px,
      grey 180px,
      black 300px,
      grey 410px,
      black 550px);
  min-height: 90vh;
}

.casualtySearch {
  
}

.casualtyList {
  margin-left: 2%;
  color: white;
  width: 96%;
  height: 60vh;
  /* max-height: 60vh; */
}

.casualtyListTitle {
  padding: 10px 0;
  text-align: center;
  display: grid;
  grid-template-columns: 65% 35%;
}

.casualtyListRow {
  display: grid;
  grid-template-columns: 65% 35%;
}

.casualtyListRow div {
  padding: 5px 2%;
}

.casualtyIntro {
  margin-left: 5%;
  font-size: 1.3rem;
  color: white;
  width: 90%;
}
