p {
  margin: 0;
}

.mainBody {
  padding-top: 10vh;
  background:
    repeating-linear-gradient(
      -45deg,
      black,
      grey 100px,
      black 130px,
      grey 180px,
      black 300px,
      grey 410px,
      black 550px);
  min-height: 90vh;
}

.casualtyTitle {
  margin: 30px 0 0 0;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.casualtySubtitle {
  margin: 0 15% 40px 15%;
  padding-top: 10px;
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

.todayWeRemember {
  color: white;
  font-size: 1.2rem;
}

.dailyMemorial {
  margin-left: 5%;
  border-radius: 30px 30px 0 0;
  padding-top: 30px;
  color: black;
  background-size: cover;
  background-position: center;
  background: url('https://cdn.pixabay.com/photo/2017/06/13/13/51/marble-2398946_960_720.jpg');
  width: 90%;
}

.dailyName {
  margin-left: 10%;
  font-size: 2rem;
  text-align: center;
  width: 80%;
}

.dailyName div:first-of-type {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  font-size: 1.5rem;
}

.dailyName div:last-of-type {
  padding-top: 10px;
}

.dailyImg {
  margin-left: 5%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  width: 90%;
}

.dailyBio {
  margin-left: 5%;
  width: 90%;
}

.casualtySearch {
  color: white;
  background-color: rgba(139,0,0,1);
}

.casualtySearchTitle {
  padding: 10px 0;
  text-align: center;
}

.firstNameInput {
  grid-area: first;
}

.lastNameInput {
  grid-area: last;
}

.unitInput {
  grid-area: unit;
}

.conflictInput {
  grid-area: conflict;
}

.submitInput {
  grid-area: submit;
}

.casualtySearchForm {
  margin: 0 3%;
  padding: 10px 0 20px 0;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: auto;
  grid-column-gap: 4%;
  grid-row-gap: 5px;
  grid-template-areas:
    "first first last last"
    "unit unit conflict conflict"
    ". submit submit .";
}

.casualtyList {
  padding-bottom: 20px;
  background:
    linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),
    url('https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTU3ODc5MDg3MjM0MDMyOTY5/flags-are-placed-at-arlington-national-cemetery-graves.jpg');
  background-position: center;
  background-size: cover;
}

.casualtyTotal {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
  font-family: 'Special Elite', cursive;
  width: 85%;
}

.casualtyListTitle {
  padding: 10px 5% 10px 0;
  color: black;
  font-family: 'Special Elite', cursive;
  text-align: center;
  display: grid;
  grid-template-columns: 60% 35% 5%;
  width: 85%;
}

.allCasualtyListRows {
  border-radius: 0 5px 5px 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 55vh;
  width: 85%;
  overflow-y: scroll;
}

.casualtyListRow {
  margin: 20px 0%;
  padding: 2px 2%;
  color: white;
  font-family: 'Bellefair', serif;
  display: grid;
  grid-template-columns: 60% 35% 5%;
  grid-template-areas:
    "rowName rowConflict rowArrow"
    "rowUnit rowConflict rowArrow";
  background: linear-gradient(rgba(0,100,0,0.8),rgba(0,100,0,0.8));
}

.rowName {
  grid-area: rowName;
}

.rowConflict {
  grid-area: rowConflict;
}

.rowUnit {
  grid-area: rowUnit;
}

.rowArrow {
  grid-area: rowArrow;
  background:
    conic-gradient(
      from 0deg at 75% 50%,
      transparent,transparent 225deg,white 225deg,white 315deg,transparent 315deg,transparent);
}

.casualtyListRow div {
  padding: 5px 2%;
}

.casualtyIntro {
  margin-left: 5%;
  font-size: 1.3rem;
  color: white;
  width: 90%;
}
