body {
  background: linear-gradient(to right,
    rgba(139,0,0,0.7),
    rgba(139,0,0,0.7) 50%,
    rgba(0,100,0,0.6) 50%,
    rgba(0,100,0,0.6) 100%);
  height: 1px;
}

p {
  margin: 0;
}

.mainAndFooter {
  margin-left: 50%;
  position: absolute;
  left: -960px;
  width: 1920px;
}

.dailyAndSearchBox {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "dailyMemorial casualtyIntro" "rightSearchColumn leftSearchColumn";
}

.dailyMemorial {
  margin-left: 0;
  border-radius: inherit;
  width: inherit;
}
