.mainBody {
  padding-top: 10vh;
  background:
    repeating-linear-gradient(
      -45deg,
      grey,
      white 100px,
      grey 130px,
      white 180px,
      grey 300px,
      white 410px,
      grey 550px);
  min-height: 90vh;
}

.mainTitle {
  margin: 25px 0;
  padding: 30px 0;
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(0deg, transparent, white 15%, white 85%, transparent);
}

.allImgBox {
  padding-bottom: 40px;
}

.oneImgBox {
  margin-left: 5%;
  margin-bottom: 40px;
  padding: 20px 0;
  background-color: lightblue;
  width: 90%;
}

.oddBox {
  transform: rotate(2deg);
}

.evenBox {
  transform: rotate(-2deg);
}

.oneImg {

}

.oneImg img {
  margin-left: 5%;
  max-width: 90%;
}

.oneCaption {
  margin: 10px 5%;
  border: 1px solid black;
  padding: 5px 1%;
  overflow-y: scroll;
  max-height: 60px;
}

.photographer {
  margin: 0 5%;
  text-align: center;
}
