.mainBody {
  padding-top: 12vh;
  display: flex;
}

.timelineBox {
  position: fixed;
  top: 12vh;
  background-color: rgba(139,0,0,0.8);
  /* z-index: -1; */
  width: 20%;
  height: 88vh;
}

.timelineBar {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 69vh;
}

.timelineBar div {
  padding: 0 5%;
  font-size: 1.1rem;
  width: 90%;
  height: 9%;
}

.allSegments {
  margin-left: 20%;
  width: 80%;
}

.timeSegment {
  font-size: 1.4rem;
}

.segmentTitle {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Vollkorn SC', sans-serif;
  font-size: 3.5rem;
}

/* .segmentImg {
  height: 25vh;
  width: 40%;
} */

.imgLeft {
  margin: 0 5% 20px 0;
  float: left;
}

.imgRight {
  margin: 0 0 20px 5%;
  float: right;
}
