p {
  margin: 0;
}

.mainBody {
  padding-top: 10vh;
}

.mainBody div {

}

.timelineBox {
  position: sticky;
  top: 10vh;
  overflow-x: scroll;
}

.timelineBar {
  display: flex;
  width: 1800px;
  height: 7vh;
}

.timelineBar div {
  padding-top: 2px;
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Special Elite', cursive;
  font-size: 1rem;
  background:
    linear-gradient(90deg, black, transparent 5%, transparent 95%, black),
    linear-gradient(0deg, black, transparent 13%, transparent 87%, black),
    grey;
  width: 150px;
  cursor: pointer;
}

.timelineBar div div {
  text-align: center;
  background: transparent;
  justify-content: center;
}

.timeSegment {
  margin: 50px 2% 0 2%;
  border: 1px solid black;
  padding: 15px 3%;
}

.firstTimeSegment {
  margin-top: 0;
}

.allSegments {
  padding: 10px 0;
}

.segmentTitle {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Vollkorn SC', sans-serif;
  font-size: 2rem;
}

.segmentImg {
  background-size: cover;
  background-position: center;
}

.imgBig {
  height: 40vh;
  width: 100%;
}

.imgSmall {
  height: 25vh;
  width: 100%;
}

.imgExtraSmall {
  height: 15vh;
  width: 100%;
}

.imgLeft {
  margin: 0 5% 20px 0;
  float: left;
}

.imgRight {
  margin: 0 0 20px 5%;
  float: right;
}

.segmentWords {
  text-align: justify;
}

.segmentWords p {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-family: 'Bellefair', serif;
}

.segmentWords p:last-child {
  margin-bottom: 0px;
}

.author {
  margin: 50px 0;
  font-size: 1.3rem;
  font-family: 'Bellefair', serif;
  text-align: center;
}
