p {
  margin: 0;
}

.mainBody {
  padding-top: 10vh;
}

.mainBody div {

}

.timelineBox {
  position: sticky;
  top: 10vh;
  overflow-x: scroll;
}

.timelineBar {
  display: flex;
  width: 1800px;
  height: 7vh;
}

.timelineBar div {
  padding-top: 2px;
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Special Elite', cursive;
  font-size: 1rem;
  background:
    linear-gradient(90deg, black, transparent 5%, transparent 95%, black),
    linear-gradient(0deg, black, transparent 13%, transparent 87%, black),
    grey;
  width: 150px;
  cursor: pointer;
}

.timelineBar div div {
  text-align: center;
  background: transparent;
  justify-content: center;
}

.timeSegment {
  margin: 50px 2% 0 2%;
  border: 1px solid black;
  padding: 15px 3%;
}

.firstTimeSegment {
  margin-top: 0;
}

.allSegments {
  padding: 10px 0;
}

.segmentTitle {
  font-size: 1.3rem;
}

.segmentImg {
  height: 31vh;
  background-size: cover;
  background-position: center;
  background-image: url('../../../images/history/BattleofLundysLane.jpg');
}

.segmentWords {
  text-align: justify;
}

.footer {
  padding: 0 0 10px 10%;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1rem;
  background: linear-gradient(to bottom, rgba(139,0,0,1), rgba(139,0,0,1));
}

.footer div {
  margin-top: 10px;
  color: white;
  font-family: 'Prompt', sans-serif;
}
