.timelineBar {
  height: 6vh;
  width: 2160px;
}

.timelineBar div {
  font-size: 1.2rem;
  width: 180px;
}

.segmentImg {
  height: 25vh;
  width: 40%;
}

.imgLeft {
  margin: 0 5% 2vh 0;
  float: left;
}

.imgRight {
  margin: 0 0 2vh 5%;
  float: right;
}
